<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
            <!-- 
            To compile and run any img and css file,
            throw it in the 'static' file, NOT 'staticfiles'
            run 'python manage.py collectstatic'
            then run the server. 'python manage.py runserver'
            -->
        <link
        <title>Chirper</title>
    </head>

    <body>
        <div class="menu-bar">
            <a href="home.html">
                {% load static %}
                <img class="logo" src="{% static 'logo.png' %}" alt="logo" height="50px" width="75px">
            </a>
            <ul>
                <li><a href="search.html">Search</a></li>
                <li><a href="about.html">About</a></li>
                <li><a>Settings <i class="fas fa-caret-down"></i></a>

                    <div class="dropdown-menu">
                        <ul>
                            <li><a href='accounts/profile/'>Profile</a></li>
                            <li><a href="accounts/logout/">Log Out</a></li>
                        </ul>
                    </div>
                </li>
                
            </ul>
            <a class="cta" href="accounts/login/"><button>SignIn</button></a>
        </div>


        <section class="section">
            <form class="form" autocomplete="off">
                <!-- Text -->
                <label for="text">Chirp</label>
                <input type="text" id="text" name="text" placeholder="250 word Max." />
                <small>0 Comment(s).</small>
            </form>
        </section>
    </body>
</html>
