<!DOCTYPE html>
<!-- Source Codes By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        {% load static %}
        <link rel="stylesheet"  href="{% static 'styles2.css' %}">        
        <link rel="stylesheet" href="{% static 'profile.css' %}">
        <title>Chirper</title>
    </head>

    <body>
        <div class="menu-bar">
            <a href='{% url "home" %}'>
                {% load static %}
                <img class="logo" src="{% static 'logo.png' %}" alt="logo" height="50px" width="75px">
            </a>
            <ul>
                 <!-- <li><a href="/search.html">Search</a></li> 
                <li><a href='{% url "about" %}'>About</a></li> -->
                <li><a>Settings<i class="fas fa-caret-down"></i></a>

                    <div class="dropdown-menu">
                        <ul>
                            <li><a href='{% url "profile" %}'>profile</a></li>
                            <li><a href='{% url "account_logout" %}'>Log Out</a></li>
                        </ul>
                    </div>
                </li>
                
            </ul>
            <a class="cta" href='{% url "account_login" %}'><button>SignIn</button></a>
        </div>



        

        <div class="card">
            <p>Welcome, {{ user.username }} !</p>  <!-- Shows the logged-in user's username -->

            <p>Email: {{ user.email }}</p>  <!-- If you want to show the user's email -->
          
            <!--<p>Bio: {{ user_profile.bio }}</p>   Display bio from Profile model         
            <img src="img.jpg" alt="John" style="width:100%">
            <h1>{{ chirp.user.username }}</h1>
            <p class="title">Follow</p>
            <p>Chirps</p>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a> 
            <p class="cta" href="logout/"><button>Log Out</button></p> -->
          </div>

    </body>
</html>